---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Gabin Niel" description="About Gabin Niel, a DataScience engineering student looking for a 4-6 month internship in AI starting February 2025.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Data Science engineering student looking for a 4-6 month internship as an AI Engineer starting in August 2025."
			>
				<img
					width="500"
					height="500"
					src="/assets/photo_profil.png"
					alt="Gabin Niel working on a project"
					style="display: block; margin: 0 auto;"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About</h2>
				<div class="content">
					<p>
						Data Scientist student at ESIGELEC an engineering french school, I am looking for a 4-6 month internship as an AI Engineer starting August 2025.
						I have gained strong skills in data analysis, machine learning, and programming, and I am eager to apply them in a dynamic institution.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li><strong>2022 - 2025:</strong> ESIGELEC, Rouen (76000) - Engineering School, Data Science Major</li>
						<li><strong>2020 - 2022:</strong> ESIGELEC, Rouen (76000) - Mathematics/Physics Preparatory Class</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Technical Skills</h2>
				<div class="content">
					<ul>
						<li>Probabilities, Statistics, Optimization for Data Analysis (ANOVA, ARIMA Time Series, Hypothesis Testing)</li>
						<li>Machine Learning and Deep Learning: Classification, Regression, Clustering, Neural Networks (Keras, PyTorch, TensorFlow)</li>
						<li>Programming: Python (pandas, numpy, scikit-learn, TensorFlow, PyTorch), R, SQL, JAVA, C#</li>
						<li>Blockchain: Smart Contract Development with Solidity</li>
						<li>Web Technologies: HTML, PHP, CSS</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Professional Experience</h2>
				<div class="content">
					<ul>
						<li><strong>Intern, SKF (February 2025 - August 2025)</strong> - Contributed to the development of a Retrieval-Augmented Generation (RAG) system to enhance information retrieval and text generation for internal applications</li>
						<li><strong>Backend Developer Intern, Leon Grosse (June 2024 - August 2024)</strong> - Developed backend applications in Java with Spring Boot</li>
						<li><strong>Treasurer, Cultural Association Liberté (2022)</strong> - Managed the association's accounts, prepared budgets, and monitored expenses</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Academic Projects</h2>
				<div class="content">
					<ul>
						<ul>
							<li>Developed a Machine Learning model to predict the likelihood of a company's bankruptcy (TensorFlow, Keras)</li>
							<li>Developed a Deep Learning model to predict real estate prices (TensorFlow, Keras)</li>
							<li>Created a Computer Vision model to detect heart diseases from medical images (TensorFlow, OpenCV)</li>
							<li>Developed a Computer Vision model to diagnose pneumonia from chest X-ray images (TensorFlow, Keras)</li>
							<li>Worked on a Retrieval-Augmented Generation (RAG) system for improved information retrieval and text generation (TensorFlow, Hugging Face)</li>
						</ul>
						
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<ul>
						<li>Supervised Machine Learning: Regression and Classification, Stanford University</li>
						<li>Certificate for Advanced Learning Algorithms, Stanford University</li>
						<li>Applied Data Science with Python, Michigan University</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Interpersonal Skills</h2>
				<div class="content">
					<ul>
						<li>Teamwork</li>
						<li>Communication</li>
						<li>Problem Solving</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<ul>
						<li>French: Native</li>
						<li>English: B2</li>
						<li>Spanish: A1</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
